*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
}
.image{
    width: 400px;
    height: 400px;
    display: block;
    filter:none;
    margin: 0 auto;
    border: 10px solid transparent;

}
.conteaner{
    width: 700px;
    height: 200px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.conteaner input, .conteaner select{
    width: 200px;
    margin: 20px;
}